/*
This is how a CSS (cascating style sheets) works.
cascating means ... the last input value is taken into account. 

Very good resource: 
*https://w3schools.com/cssref/css_selectors.asp
*https://css-tricks.com/almanac


Selector{
	Property: value;
}

*class
select a group of elements and ensure they'll have the 
same kind of effect

.id
similar to class, but can only use id once. 

*
not used very often, but it means 'all elements'
be careful with specificity.

element, element
(done below for h2, p)

element element (ex. h2 p)
it means acts in 'p' that are inside 'h2'



*/


* {
	text-align: right;
}

body {
	background-image: url(background.jpg) ;
	background-size: cover;
}

h2, p {
	color:#802B66;
	text-align: center;	
	/* 
		rgba = rgb alpha, so it controls the transparency
		rgba(x,y,z,alpha)
		*/
	border: 5px dotted rgb(49, 58, 117);
	cursor: pointer;
}

p {
	color: #AA7539;
}

li {
	color: white;
	list-style: none;
	display: inline-block;
}

.webtext {
	border: 5px dashed green;
}

.active {
	color: red;
}

#div1 {
	background: rgba(0, 0, 255, 0.2);
}

#div2 {
	background: rgba(255, 0, 0, 0.2);
}