/*
This is how a CSS (cascating style sheets) works.
cascating means ... the last input value is taken into account. 

Very good resource: 
*https://w3schools.com/cssref/css_selectors.asp
*https://css-tricks.com/almanac


Selector{
	Property: value;
}

*/

body {
	background-image: url(background.jpg) ;
	background-size: cover;
}

h2, p {
	color:#802B66;
	text-align: center;	
	/* 
		rgba = rgb alpha, so it controls the transparency
		rgba(x,y,z,alpha)
		*/
	border: 5px dotted rgb(49, 58, 117);
	cursor: pointer;
}

p {
	color: #AA7539;
}

li {
	color: white;
	list-style: none;
	display: inline-block;
}

.webtext{
	border: 5px dashed green;
}